@model TestViewModel

@{
    ViewData["Title"] = "Test View";
}

<h1>Hello from test controller</h1>
<h2>Your name is : @Model.Name</h2>

@if (Model.DateOfBirth.HasValue)
{
    <h2>Your date of birth is @Model.DateOfBirth</h2>
}